<footer class="footer-links-container">
    <div class="footer-row">
        <a href="#" class="footer-link">Home</a>
        <a href="#" class="footer-link">Popular</a>
        <a href="#" class="footer-link">News</a>
        <a href="#" class="footer-link">Explore</a>
        <a href="#" class="footer-link">Best of Reddit</a>
    </div>
    <div class="footer-row">
        <a href="#" class="footer-link">Best of Reddit in Portuguese</a>
    </div>
    <div class="footer-row">
        <a href="#" class="footer-link">Best of Reddit in German</a>
        <a href="#" class="footer-link">Reddit Rules</a>
    </div>
    <div class="footer-row">
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">User Agreement</a>
        <a href="#" class="footer-link">Accessibility</a>
    </div>
    <div class="footer-copyright">
        Reddit, Inc. © 2026. All rights reserved.
    </div>
</footer>
